<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <title>O2O CRM</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/flaticon/flaticon.css" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/custom.css" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet" />
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @RenderBody()
    <!-- Core JS files -->
    <script type="text/javascript" src="~/js/site.min.js"></script>
    <!-- /core JS files -->
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <!-- /theme JS files -->
    @RenderSection("Scripts", required: false)
</body>
</html>
